.panel.panel-default
  .panel-heading
    %h1 
      %strong 中介机构查询
  .panel-body
    =render 'map', title: "#{@name}查询结果"

#data_holder{'data-json'=>"#{raw @json.to_json}"}
  
-content_for :head do 
  = render '/shared/gmap'
  = javascript_include_tag 'agency'
