%h2
  %strong 房产经纪机构备案公示
.well{:style=>'text-indent:2em'}
  %h4
    %strong.text-muted 备案系统网上公示有利于合法机构和从业人员的自我展示和社会监督，有利于消费者选择、甄别合法机构和从业人员，有利于畅通投诉渠道从而有效解决投诉、维护当事人合法权益。
  %p.pull-right 
    %small.text-muted 
      武汉市住房保障和房屋管理局
  %br

.row
  .col-sm-6
    %h2.text-primary
      %strong= Agency.count
    %p.text-muted 备案经纪机构
  .col-sm-6
    .pull-right
      %h2.text-primary
        %strong= Broker.count
      %p.text-muted 备案经纪人

%p.text-muted
  %small.pull-right 以上信息根据资质审核情况实时动态更新
%hr
%p.pull-right
  =link_to '详细', agency_index_path, class: 'btn btn-warning'