.panel.panel-default
  .panel-body
    %h2
      =icon 'download' 
      %strong 下载
    %hr
    - @names.each_with_index do |doc, i|
      .row
        .col-sm-1
          %h4
            %span.badge= i+1
        .col-sm-11
          %h4
            = link_to  doc, "/downloads/form/f#{i+1}.doc"