.panel.panel-default
  .panel-body
    %p 
      %strong 主办
      %small 武汉市房地产中介协会
    %p 
      %strong 协办
      %small 武汉市速房网络科技有限公司
    %p= link_to '关于', '#'
    %p
      = link_to 'Android客户端下载', '/downloads/anjie.apk'
    %p
      = link_to '资质管理系统', 'http://119.97.201.21/zj' 
    %p
      = link_to '兴房网', 'http://027xf.com'
    %p
      &copy; 2014 梦想家

  